body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

html, body{
    height: 100%;
    margin: 0;
}
header {
    background-color: #007BFF;
    color: #fff;
    padding: 8px;
    text-align: center;
}
header h1{
    color: #ffffff;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #ffffff;
    flex:1;

}

h1, h2 {
    color: #007BFF;
}
.carousel h1{
    text-align: center;
    color: #007BFF;
}
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative; /* Mantém a posição relativa para o posicionamento absoluto do círculo */
    bottom: 0;
}

.carousel-container {
    display: flex;
    justify-content: space-between; /* Adiciona espaço entre os carrosséis */
}

.carousel {
    position: relative;
    width: 20%; /* Define a largura de cada carrossel */
    overflow: hidden;
    border: 2px solid #007BFF;
    border-radius: 10px;
    user-select: none; /* Prevents text selection during drag */
}

.carousel-track-container {
    display: flex;
    align-items: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: grab;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.carousel-slide p {
    margin: 50px auto;
    text-align: center;
    padding: -10px;
}

.carousel-button {
    position: absolute;
    top: 95%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 34px;
    z-index: 1;
    padding: 100px;
    border-radius: 50%;
}

.prev-button {
    left: -8px;
}

.next-button {
    right: -8px;
}

.caixa{
    border: solid ;
    width: 300px;
    height: 500px;
}
.conteiner{
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.conteiner-footer {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.contato {
    background-color: #f4f4f4;
    width: 200px;
    height: 50px;
    border:solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contato h1 {
    margin: 0;
    font-size: 1.3em;
}
